<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="com.frontier.demo.mapper.WorkerMapper">
    <resultMap id="worker" type="com.frontier.demo.domain.Worker">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="birthday" column="birthday"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 插入用户 -->
    <insert id="saveWorker">
        insert into
            t_worker(`name`,`age`,`birthday`,`create_time`,`update_time`)
        values(
            #{name},
            #{age},
            #{birthday},
            now(),
            now()
        )
    </insert>

    <!-- 根据用户编号查询用户 -->
    <select id="getWorker" resultMap="worker">
        select
            w.id,
            w.name,
            w.age,
            w.birthday,
            w.create_time,
            w.update_time
        from
            t_worker w
        where w.id = #{id}
    </select>

    <!-- 查询用户集合 -->
    <select id="listWorkers" resultMap="worker">
        select
            w.id,
            w.name,
            w.age,
            w.birthday,
            w.create_time,
            w.update_time
        from
            t_worker w
        <where>
            <if test="name != null">
                w.name like concat(#{name}, '%')
            </if>
        </where>
    </select>

    <delete id="deleteWorker" >
        delete from t_worker
        where id  = #{id}
    </delete>

    <!-- 添加用户 -->
    <!--<insert id="saveUser" parameterType="com.frontier.demo.mapper.param.SaveUserParam">
        insert into sys_user(name, age, sex, birthday) values(#{name}, #{age}, #{sex}, #{birthday})
    </insert>-->
</mapper>